@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico:400');

body{
	font: 300 17px/1.6 Raleway, Arial, sans-serif;
	color:  #262626;
}

/* Layout */


.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	text-decoration: none;
	padding: 14px 25px;
	text-transform: uppercase;
	border: none;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{}
	[class*="ba-button"]:hover{
		background-color:   #081213;
	}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	background-color:  transparent;
	font-size: 15px;
	line-height: 1.8;
	border: solid 1px #262626;
	background-color:  rgba(38, 38, 38, 0);
	height: 55px;
	padding-left:14px;
	width: 570px;
	letter-spacing: 0.04em;


}
.ba-subscribe__form [placeholder]{
	color: #96b92c;
}
a:focus{
	outline: 1px dashed  orange;
}
button:focus{
	outline: 1px dashed  orange;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #96b92c;
	outline: none;
}
textarea {

}
.ba-fresh{
	min-height: 105.5vh;
	background: #fff url(img/bg.jpg) 50%;
	background-size: cover;
	padding: 50px 0 120px;
	position: relative;
}

.ba-header{
    position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 50px;
	padding-bottom: 25px;
	background: -moz-linear-gradient(top, rgba(255,255,255, 1) 82%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255, 1) 82%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255, 1) 82%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.ba-logo{
	float: left;
	padding-left: 4px;
}
.ba-logo img{
	display: block;
}
.ba-nav{
	float: right;
	margin-top: 15px;

}
.ba-menu{
	padding: 0 6px 0 0;
	margin: 0;
	list-style: none;
}
.ba-menu li{
	display: inline-block;
	position: relative;
}
.ba-menu a{
	color:  #262626;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
	letter-spacing: 0.019em;
}
.ba-menu li:first-child:before{
	content: '';
	background-color:  #ff6033;
	width: 62%;
	height: 3px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	left: 15px;
}
.ba-menu li:not(:first-child):hover:before{
	content: '';
	background-color: rgba(255, 96, 51, 0.3);
	width: 62%;
	height: 3px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	left: 15px;
}
.ba-menu li:nth-child(3):hover:before,
.ba-menu li:last-child:hover:before,
.ba-menu li:nth-child(4):hover:before{
	content: '';
	background-color: rgba(255, 96, 51, 0.3);
	width: 71%;
	height: 3px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	left: 15px;
}
.ba-menu li:nth-child(2):hover:before{
	content: '';
	background-color: rgba(255, 96, 51, 0.3);
	width: 66%;
	height: 3px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	left: 15px;
}
.ba-main{
	margin-top: 288px;
	max-width: 32%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.ba-main__title{
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 0.018em;
	margin-top: 0;
	margin-bottom: 0;
}
.ba-main p{
	margin-top: 1px;
	padding-left: 3px;
	margin-bottom: 26px;
}
.ba-button__main{
	background-color:  #ff6033;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin-left: 3px;
}

.ba-skroll{
	position: absolute;
	background: url(img/scroll.png);
	bottom: 69px;
	left: 49%;
	width: 24px;
	height: 40px;
	margin-left: -5px;
	transition: transform .2s ease-in;
}
.ba-skroll:hover{
	transform: translateY(-7px);
	opacity: .8;
}
.ba-about{
	background: #009999 url(img/bg_about.jpg) 50%;
	background-size: cover;
	color: #fff;
	padding-bottom: 14px;
}
.ba-about__title{
	font-size: 90px;
	font-weight: 700;
	line-height: 1;
	padding-top: 169px;
	margin: 0;
	padding-bottom: 15px;
}
.ba-about__content{
	float: right;
	width: 46%;
	padding-left: 25px;
	padding-right: 23px;
}
.ba-about__plate{
	float: left;
	padding-top: 35px;
	display: block;
	padding-left: 0;
	margin: 0 -48px;
	width: 54%;

}
.ba-about__content p:first-of-type{
	margin-top: 0;
	margin-bottom: 10px;
}
.ba-about__content p:last-of-type{
	margin-bottom: 0;
	margin-top: 10px;
}
.ba-services{
	background-color:  #70bfff;;
}
.ba-service__content{
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-top: 164px;
	padding-left: 64px;
}
.ba-service__name{
	float: right;
	width: 50%;
	color:  #ffffff;
	padding-top: 237px;
	padding-left: 31px;
	padding-bottom: 291px;
	background: url(img/tomatos.png) no-repeat 84% 40%;

}
.ba-service__name h1{
font-size: 90px;
font-weight: 700;

}

.ba-services_menu{
	list-style: none;
}
.ba-services_menu li{
	max-width: 400px;
	background-color: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	max-height: 100px;
}

.ba-services_menu a{
	display: flex;
	align-items: center;
	text-decoration: none;
	text-align-last: center;
	max-height: 100px;
}
.ba-smenu__text{
	flex-basis: 75%;
	margin: 0;
	padding: 0;
	border-right: 1px solid #9D9D9D;
	max-height: 100px;
}


.ba-services_menu h5{
	color:  #262626;
	font-size: 20px;
	margin: 0;
	padding: 37px 0;
	text-align: center;
	line-height: 1.3;
}
.ba-smenu__text_bigger h5{
	padding-top: 24px;
}

.ba-services_menu span{
	flex-basis: 25%;
	padding-top: 10px;
}

.ba-services_menu a:hover .cls-1{
	fill:  #ff6033;
}
.ba-services_menu a:hover h5{
	color:  #ff6033;
}
.ba-services_menu a:hover .ba-smenu__text{
	border-right: 1px solid #ff6033;
}
.ba-example{
	overflow: hidden;
}

.ba-grid img{
	display: block;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);

}

.ba-gallery{
	background-color: #ffff33;
}
.ba-gallery__main{
padding: 62px 15px 120px;
}
.ba-gallery__info{
	max-width: 630px;
	margin: 0 auto;
}

.ba-gallery__title{
	margin: 0;
	font-size: 90px;
	font-weight: 700;
	padding-right: 24px;
}

.ba-gallery__info p{
	margin-top: 1px;
	padding-right: 22px;
	margin-bottom: 42px;
}
.ba-view{
	text-align: center;
	padding-right: 23px;
}
.ba-button__gallery{
	background-color:   #5585a2;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin: 52px auto 0;
	padding: 14px 43px;

}


.ba-subscribe{
	background: #fff url(img/subscribe_bg.jpg) no-repeat 47% 0%;
}
.ba-subscribe__main{
	padding: 127px 0 163px;

}
.ba-subscribe__title{
	margin-top: 0;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 0;
}
.ba-subscribe__main p{
	margin-top: 8px;
	max-width: 570px;
	margin-bottom: 27px;
}
.ba-button__subscribe{
	background-color:   #96b92c;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin: 52px auto 0;
	padding: 14px 30px;
	margin-top: 0;
	border: none;
	vertical-align: middle;
	margin-left: 30px;
}


.ba-blog{
	background-color:  #b07cf7;
}

.ba-blog__main{
	padding: 63px 26px 118px 2px;
}


.ba-article{
	position: relative;
	display: block;
	overflow: hidden;
}
.ba-article__text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 63%, rgba(0,0,0,0) 49%, rgba(0,0,0,0.9sss) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 63%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 63%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	padding: 30px 20px;
}
.ba-data{
	display: inline-block;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	border-radius: 5px;
	background-color:  rgba(38, 38, 38, 0.5);
	text-align: center;
	padding: 3px 7px;
	margin-left: 10px;
}
.ba-data time:last-child{
	display: block;
	font-size: 21px;
}
.ba-article__text h5{
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
	margin-top: 114px;
	margin-bottom: 14px
}
.ba-article__text p{
	font-size: 13px;
	font-weight: 300;
}
.ba-article img{
	display: block;
	width: 100%;
	transition: transform 0.3s;
}
.ba-article:hover img{
	transform: scale(1.3);
}

.ba-blog__title{
	font-size: 90px;
	font-weight: 700;
	color: #fff;
	line-height: 1.3;
	margin-top: 12px;
	padding-right: 2px;
	margin-bottom: 10px;
}
.ba-blog__content p{
	max-width: 590px;
	margin: 17px auto 44px;
	color: #fff;
	padding-right: 2px;
	line-height: 1.5;
}

.ba-blog__grid .ba-grid{
	margin-left: -30px;
}
.ba-button__blog{
	background-color:  #f72b3b;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin: 49px auto 0;
	padding: 14px 43px;
}

.ba-view__blog{
	text-align: center;
}
.ba-contact{
	background: #ccffff url(img/contact_bg.jpg) 50%;
	background-size: cover;
}
.ba-contact__main{
	padding: 62px 6px 28px;
}
.ba-contact__title{
	margin: 0;
	font-size: 90px;
	font-weight: 700;
	padding-right: 24px;
}

.ba-contact__info p{
	margin-top: 1px;
	padding-right: 18px;
	margin: 4px auto 43px;
	max-width: 384px;
	line-height: 1.5;
}

.ba-contact-left{
	float: left;
	width: 50%;
}
// .ba-contact__content label{
// 	display: block;
// font-size: 15px;
// font-weight: 700;
// line-height: 1.6;
// color: #FFF;
// background-color:  #00c4c4;
// max-width: 500px;
// padding: 13px 0 13px 14px;
// border-left: 5px solid  #355b82;
// margin-bottom: 15px;
// }

.ba-content__form input{
	margin-bottom: 15px;
	color: #FFF;
	background-color:  rgba(0, 196, 196, 0.5);
	max-width: 500px;
	padding: 0 0 0 20px;
	border: none;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.1;
	max-height: 50px;
}
.ba-content__form [placeholder]{
	color: #FFF;
}
.ba-content__form [placeholder]::-webkit-search-cancel-button {
 	-webkit-appearance: none;
 }
 .ba-content__form [placeholder]::-webkit-input-placeholder {
 color: #FFF;
 }
 .ba-content__form [placeholder]:-moz-placeholder {
 	color: #FFF;
 }
 .ba-content__form input[type="text"]:focus,
 .ba-content__form input[type="email"]:focus,
 .ba-content__form input[type="password"]:focus,
 .ba-content__form input[type="number"]:focus,
 .ba-content__form input[type="tel"]:focus,
 .ba-content__form textarea:focus,
 .ba-content__form select:focus {
border: none;
 	outline: none;
 	background-color:  #00c4c4;
 	border-left: 5px solid  #355b82;
 	margin-bottom: 15px;
 	font-weight: 700;
 }
.ba-content__form textarea:focus{
 	font-weight: 300;
 }
 .ba-content__form textarea{
 		color: #FFF;
 		background-color:  rgba(0, 196, 196, 0.5);
 		max-width: 500px;
 		padding: 13px 0 13px 20px;
 		border: none;
 		font-size: 15px;
 		font-weight: 300;
 		min-height: 250px;
 		margin-bottom: 30px;
 }
.ba-button__contact{
	background-color: #0e8686;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin: 0 auto;
}
.ba-contact-right{
	float: right;
	width: 50%;
	padding-left: 72px;
}
.ba-right{
	margin-top: 0;
	margin-bottom: 15px;
}
.ba-right h5 {
	margin-top: 0;
	font-size: 17px;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0;
	line-height: 1;

}
.ba-right__adress p{
	margin-top: 2px;
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 0;
}
.ba-right__mail a, .ba-right__phone a{
	text-decoration: none;
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	color:  #262626;
}
.ba-footer{
	background: #262626;
}
.ba-footer__main{
	padding: 30px 23px 32px 5px;
	color: #FFF;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}
.ba-footer__main p{
	display: inline-block;
	margin-top: 0;
}
.ba-footer__main p:last-child{
	font-size: 15px;
}
.ba-footer__main span{
	color:  #ff2b58;
	font-weight: 700;
}
.ba-footer__main img{
	height: 27px;
	width: 64px;
}
.ba-footer__main a{
	padding-right: 65px;
}
